body{
	background: linear-gradient(270deg, #060046 0%, rgba(12, 111, 202, 0.54) 98.26%), #C4C4C4;
	margin:0;
}

.icon{
	height:50px;
	weight:50px;
	margin:0;
	margin-top: .5rem;
}

.registermenu{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registerintro{
	font-family: Montserrat, sans-serif;
	text-align: center;
}

#logo{
	font-style: normal;
	font-weight: 900;
	font-size: 60px;
	line-height: 88px;
	color: #FFFFFF;
}
.registerbox{
	font-family: Montserrat, sans-serif;
	border: 1px solid #FFFFFF;
	width:500px;
	box-sizing: border-box;
	border-radius: 50px;
	display:flex;
	flex-direction:column;
	align-items: center;

}
.register{
	display:flex;
	flex-direction: column;
}

.headline2{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #FFFFFF;	
	margin-bottom:20px;
	margin-top:1rem;
}

.fillin{

    background: #FFFFFF;
    height: 35px;
    border: none;
    margin-bottom: 1.25rem;
    font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 37px;
	display: flex;
	align-items: center;
	color: #7570AA;
	border-radius: 15px;
}

.fillin:focus{
	outline: none;
}

.password{
	background: #FFFFFF;
    height: 35px;
    border: none;
    margin-bottom: 1.25rem;
    font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 37px;
	display: flex;
	align-items: center;
	color: #7570AA;
	border-radius: 15px;
}

input{
	text-align: center;
}

.password:focus{
	outline: none;
}

.fillin::placeholder{
	text-align: center;
}

.password::placeholder{
	text-align: center;
}

select{
	text-align-last: center;
}

.submit{
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 15px;
	height: 40px;
    border: none;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:.5rem;
    font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 37px;
	text-align: center;
	color: #050041;
}

.backToLogin{
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 15px;
	height: 40px;
    border: none;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:.5rem;
    font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 37px;
	text-align: center;
	color: #050041;
	cursor: pointer;
}

a:focus,a:visited{
	color: #050041;
}
