html{
	height: 100vh;
}

.userName{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.navBar{
	background-color: gray;
	max-height: 100vh;
}

.menuContainer{
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
	max-width: 80%;
}

.menuItem{
	position: relative;
	border: 1px solid black;
	margin: 2px;
	background-color: white;
	transition: 0.5s;
}

.menuItem:hover{
	transform: scale(1.2);
	box-shadow: 2px 2px 2px black;
	background: white;
	z-index: 2;
	cursor: pointer;
}

.cartButton{
	position: absolute;
	bottom: 10%;
	padding: 10px 30px;
	background-color: #ef2929;
	color: white;
	border: none;
	cursor: pointer;	
}

.modal-bg{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s; 
}


.bg-active{
	visibility: visible;
	opacity: 1;
}

.closeButton{
	position: absolute;
	top: 5px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.modalWindow{
	position: relative;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	width: 30%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
}


.itemPicture{
	display: block;
	width: 100%;
}

.mainContainer{
	max-height: 100%;
}
body{
	background: #ffcc99;
   	 font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: white;
}
#menu{
	background: #ff9999;
	font-size: 44px;
	font-weight:700; 
	color: #ddd;
	text-transform:uppercase;
	letter-spacing: 5px;
	margin-top: 20px;
	padding: 10px;
}
#logo{
	float:left;
}
#options{
	float:left;
}
	

h2.headline2{
	color: #ddd;
	text-align: center;
	margin-top: 10px;
}

    .form {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
     .fillin {
    margin-top: 20px;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    }
         .password {
    margin-top: 20px;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;

    }
    
    .register_button {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #8F8FBD;
        padding-top: 15px;
    }
    
        .submit {
     	cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: #C0D9D9;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }
    

